# Use only this config; ignore compile_commands.json to avoid "Duplicate key Add" merge warning
CompilationDatabase: none

CompileFlags:
  Add:
    - --query-driver=C:/Users/urzam/.platformio/packages/toolchain-xtensa-esp32s3/bin/xtensa-esp32s3-elf-gcc*
    - --query-driver=C:/Users/urzam/.platformio/packages/toolchain-xtensa-esp32s3/bin/xtensa-esp32s3-elf-g++*
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/cores/esp32
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/WiFi/src
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/WebServer/src
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/ESPmDNS
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/SPIFFS/src
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/HTTPClient/src
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/Preferences/src
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp32s3/xtensa/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_idf_port/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/freertos/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_hw_support/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_system/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_common/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_timer/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/soc/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/hal/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/log/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/heap/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/xtensa/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/xtensa/esp32s3/xtensa/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_ringbuf/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/driver/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/espWifi/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_eth/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/lwip/lwip/src/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/newlib/platform_include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/cores/esp32/libb64
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/cores/esp32
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/app_update/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/bootloader_support/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/efuse/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/nvs_flash/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/spi_flash/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/mbedtls/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/wear_levelling/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/fatfs/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/freemodbus/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/jsmn/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/mdns/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/openssl/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/protobuf-c/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/protocomm/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/bt/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp adf/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_https_ota/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_https_server/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp-tls/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp-tls/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/cbor/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/unity/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/cmock/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/coap/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/nghttp/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_websocket_client/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_hid/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_lcd/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_littlefs/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_partition/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/vfs/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_wifi/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_netif/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_event/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/pthread/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_gdbstub/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_arch/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/soc/esp32s3/include/soc
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_rom/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_common/esp32s3/idf_include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_common/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_system/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_timer/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/esp_hw_support/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/freertos/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/hal/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/xtensa/esp32s3/xtensa/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/xtensa/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/driver/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/espWifi/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/lwip/lwip/src/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/lwip/port/esp32s3/include
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/lwip/port/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/tools/sdk/esp32s3/include/soc/esp32s3/include/esp32s3
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/ArduinoOTA
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/Update
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/Ethernet
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/FFat
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/FS
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/SD
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/SD_MMC
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/WiFi
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/WiFiClientSecure
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/ESP32OTA
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/BLE
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/AsyncTCP
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/DNSServer
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/ESP Async WebServer
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/ESPAsyncTCP
    - -I=C:/Users/urzam/.platformio/packages/framework-arduinoespressif32/libraries/AsyncTCP
    - -mlong-calls
  Remove:
    - -W*
    - -mlongcalls
    - -fstrict-volatile-bitfields
    