CompileFlags:
  Add:
    - --query-driver=C:/Users/urzam/.platformio/packages/toolchain-xtensa-esp32s3/bin/xtensa-esp32s3-elf-g*
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
